/*
  Document   : style
  Created on : 5-dec-2012, 9:04:52
  Author     : Glenn Blom <glennblom@gmail.com>
*/

* { 
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

table tr td {
    border: 1px solid black;
    padding: 2px 5px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    margin: 0 auto;
    min-width: 990px;
    min-height: 500px;
}

#header_outer {
    background: #0f3755;
    background: -webkit-gradient(linear, left top, left bottom, from(#185988), to(#0f3755));
    background: -moz-linear-gradient(top, #185988, #0f3755);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#185988, endColorstr=#0f3755);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#185988, endColorstr=#0f3755)";
    
    min-height: 110px;
}

#header_inner {
    width: 990px;
    margin: 0 auto;
    color: white;
}

#header_inner h1 {

}

div#nav {
    position: relative;
    top: 20px;
    float: left;
    width: auto;
    z-index: 110;
}

div#nav ul li {
    float: left;
    list-style: none;
}

div#nav ul li a {
    display: inline-block;
    padding: 5px 20px 20px 0px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

div#nav ul li ul {
    background: #185988;
    background: -webkit-gradient(linear, left top, left bottom, from(#185988), to(#217ABB));
    background: -moz-linear-gradient(top, #185988, #217ABB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#185988, endColorstr=#217ABB);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#185988, endColorstr=#217ABB)";
    display: none;
    position: absolute;
    margin-left: -15px; 
    width: auto;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 2px 4px 15px rgba(0, 0, 0, .4);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, .4);
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div#nav ul li ul li {
    float: none;
}

div#nav ul li ul li:hover {
    background: url('/img/pc/bg/black30.png') repeat !important;
}

div#nav ul li ul li a {
    padding: 5px 15px;
    background: none !important;
}


div#slider_outer {
    background: #0F3755;
    background: -webkit-gradient(linear, left top, left bottom, from(#0F3755), to(#061522));
    background: -moz-linear-gradient(top, #0F3755, #061522);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F3755, endColorstr=#061522);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F3755, endColorstr=#061522)";
    min-height: 300px;
}

div#slider_inner {
    width: 990px;
    margin: 0 auto;
}

div#wowslider-container1 {
    top: 10px;
    position: relative;
    width: 990px;
}

div#content_outer {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#F9F9F9));
    background: -moz-linear-gradient(top, #E6E6E6, #F9F9F9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#F9F9F9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#F9F9F9)";
    min-height: 635px;
}

div#content_inner {
    width: 990px;
    margin: 0 auto;
}

div#content_inner a {
    color: black;
}

div#content_inner div.box {
    float: left;
    width: 260px;
    margin: 10px 5px;
    padding: 0 20px;
}

div#footer_outer {
    background: #3C99DC;
    background: -webkit-gradient(linear, left top, left bottom, from(#185988), to(#0F3755));
    background: -moz-linear-gradient(top, #185988, #0F3755);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#185988, endColorstr=#0F3755);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#185988, endColorstr=#0F3755)";
    min-height: 250px;
    color: white;
    font-size: 24px;
}

div#footer_inner {
    width: 990px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/*
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(red));
    background: -moz-linear-gradient(top, black, red);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=black, endColorstr=red);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=black, endColorstr=red)";
*/