/*
  Document   : style
  Created on : 11-dec-2012, 19:52:22
  Author     : Glenn Blom <glennblom@gmail.com>
*/

* { 
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;
}

input[type="submit"], a.button, button {
    display: inline-block;
    border-style: outset;
    cursor: pointer;
    border-width: 2px;
    padding: 3px 15px;
    background: #1C4C7C;
    color: white;
    font-size: 12px;
}

input[type="submit"]:active, a.button:active, button:active {
    border-style: inset;
}

div#nav {
    width: auto;
}

div#nav ul li {
    float: left;
    list-style: none;
    padding: 0px 10px;
}

.clear {
    clear: both;
}