/*
  Document   : style
  Created on : 11-dec-2012, 19:52:22
  Author     : Glenn Blom <glennblom@gmail.com>
*/

* { 
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;
}

.clear {
    clear: both;
}