/*
  Document   : style
  Created on : 11-dec-2012, 19:52:22
  Author     : Glenn Blom <glennblom@gmail.com>
*/

* { 
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;
}

div#nav {
    width: auto;
}

div#nav ul li {
    float: left;
    list-style: none;
    padding: 0px 10px;
}

.clear {
    clear: both;
}